@model IEnumerable<Amazoom_UI_with_DB.Models.Merchandise>

@{
    ViewData["Title"] = "Index";
}

<h1>Merchandise</h1>

<p>
    <a asp-action="Create"></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.qty)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.qty)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"></a> 
                <a asp-action="Details" asp-route-id="@item.Id"></a> 
                <a asp-action="Delete" asp-route-id="@item.Id"></a> 
                <a asp-action="Purchase" asp-route-id="@item.Id"></a>
                <form asp-action="MultiplePurchases" asp-route-id ="@item.Id">
                    <div class="form-group">
                        <label for="PurchaseQuantityNumber" class="control-label"></label>
                        <input name="PurchaseQuantityNumber" class="form-control" placeholder="Quantity"/>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Purchase" class="btn btn-primary" />
                    </div>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
